# Folder
Python/Images/
.ipynb_checkpoints
.vscode
.venv/
output/
vcpkg/
build/
ressources/
Python/satellite-imagery-downloader
Python/pool_detection/__pycache__
Python/pool_detection/ImageClass/__pycache__


# files
.DS_Store
CMakeLists.txt
CMakeUserPresets.json
conanfile.txt